﻿@{
    ViewBag.Title = "FileUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
<style>
    .progress {
        position: relative;
        width: 450 px;
        border: 1 px solid# ddd;
        padding: 1 px;
    }

        .progress - bar {
            width: 0 px;
            height: 30 px;
            background-color: green;
        }
</style>

<h2> File Upload </h2>

<div id="container">
    <button id="btnNewFile" onclick="addFileDiv()">Add New file</button>

    @using (Ajax.BeginForm("AsynFileUpload", "UploadFile", new AjaxOptions()
    {
        HttpMethod = "post"
    }, new
    {
        enctype = "multipart/form-data"
    }))
    {
        @Html.AntiForgeryToken()

        <div id="orig">
            <h4> File upload </h4>
            <input type="file" name="file" id="ful" />
            <input type="submit" value="upload file" />
            <div class="progress">
                <div class="progress-bar" id="progressBar"> 0 % </div>
            </div>
            <div class="status"> </div>

            <hr />
        </div>
    


    @section scripts {
        <script src="http://malsup.github.io/jquery.form.js"> </script>
        <script>
            (
                function () {
                    var bar = $('.progress-bar');
                    var percent = $('.progress-bar');
                    var status = $('.status');

                    $('form').ajaxForm({
                        beforeSend: function () {
                            status.empty();
                            var percentValue = '0%';
                            bar.width(percentValue);
                            percent.html(percentValue);
                        },
                        uploadProgress: function (event, position, total, percentComplete) {
                            var percentValue = percentComplete + '%';
                            bar.width(percentValue);
                            percent.html(percentValue);
                            status.html('In progress..');
                        },
                        success: function (d) {
                            var percentValue = '100%';
                            bar.width(percentValue);
                            percent.html(percentValue);
                            $('#fu1').val('');
                        },
                        complete: function (xhr) {
                            status.html(xhr.responseText);
                        }
                    });
                })();

            var fileCount = 1;

            function addFileDiv() {
                var temp = document.getElementById('orig').cloneNode(true);

                var cont = document.getElementById("container");
                cont.appendChild(temp);

            }
        </script>
    }
}
