﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Arcanys Test</h1>
    <p class="lead">Click @Html.ActionLink("HERE", "AsynFileUpload", "Files") to go to the File Upload page</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p class="lead">Click @Html.ActionLink("HERE", "AsynFileUpload", "Files") to go to the File Upload page</p>
    </div>
</div>